body {
	background: #ffe6ac;
}

.error {
	color: red;
}

.subsection {
	color: #993300;
}

.quest_hidden {
	display: none;
}

.property_title {
	color: #993300;
}

div {
	margin-top: 20px;
}

#lab_theme {
	text-align: center;
	font-size: larger;
	font-weight: bold;
}

.section_name {
	font-weight: bold;
}

#container {
	width: 85%;
    padding: 10px;
    margin: 0 auto;
}

/*
@media screen and (max-width: 1600px) {
    div.for-example {width: 1500px;}
}
@media screen and (max-width: 1280px) {
    div.for-example {width: 1100px;}
}
@media screen and (max-width: 1024px) {
    div.for-example {width: 980px;}
}*/
@media screen and (max-width: 620px) {
    #container {width: 90%;}
}