
body {
	background-color: #ffe6ac;
}

/*#container {
	width: 80%;
    padding: 10px;
    margin: 0 auto;
}

@media screen and (max-width: 1600px) {
    div.for-example {width: 1500px;}
}
@media screen and (max-width: 1280px) {
    div.for-example {width: 1100px;}
}
@media screen and (max-width: 1024px) {
    div.for-example {width: 980px;}
}
@media screen and (max-width: 620px) {
    #container {width: 90%;}
}*/

.container {
    padding: 0 15px;
}  
@media (min-width: 575.98px){
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}
@media (min-width: 767.98px){
  .container {
    max-width: 720px;	
  }
}
@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1199.98px){
  .container {
    max-width: 1140px;
  }
}

h1 {
    text-align: center;
}
h2, h3, h4 {
    text-align: left; 
}
#lab_theme {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

div, p {
    text-align: justify; 
    text-indent: 2rem;
    margin-bottom: 0;
    margin-top: 0;
}
ul, ol{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 2rem;
    text-indent: 0rem;
}
li {
    text-indent: 0rem;
}

div.chapter {
    margin-top: 20px;
    text-align: left; 
}
.chapter_name {
    font-weight: bold;
}	
figure.pic_w_caption {
	text-align: center;
}

span.code_snippet {
	font-size: 13px;
	font-family: Lucida Console;
}
pre {
    text-indent: 0;
}